{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <p class="fs-1">Courts QRCode</p>
    <div class="row">
        <div class="btn-group" role="group" aria-label="change status group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Push Order To Detrack</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-success" for="btnradio2">Ready To Ship</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-warning" for="btnradio3">Mark Quantity Issue</label>
        </div>
    </div>
    <div class="row">
        <div id="reader"></div>
        <button type="button" class="btn btn-primary btn-lg">Push Order To Detrack</button>
        <script defer src="{{ asset('js/html5-qrcode.min.js') }}"></script>
        <script defer src="{{ asset('js/qrcode.js') }}"></script>
    </div>
{% endblock %}
