{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <p class="fs-1">Courts QRCode</p>
    <div class="row">
        <div id="reader"></div>
        <input id="qrcode" type="text" >
        <script src="https://unpkg.com/html5-qrcode" type="text/javascript">
        <script defer src="{{ asset('js/qrcode.js') }}"></script>
    </div>
    <div class="row">
        <div class="btn-group" role="group" aria-label="Change status group">
            <button type="button" class="btn btn-primary">Push To Detrack</button>
            <button type="button" class="btn btn-success">Ready To Ship</button>
            <button type="button" class="btn btn-warning">Quantity Issue</button>
        </div>
    </div>
    <div class="row">
        <p class="fs-1">History </p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
{% endblock %}
